{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    a.ajax-toggle  {
        font-weight: bold;
        font-style: normal;
        color: rgb(91, 129, 0);
    }
    a.mode-off {
        color: rgb(210, 210, 210);
        font-style: italic;
        font-weight: normal;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 24px;"><strong>AP Deja-Vu</strong> is an engine for replaying AP election tests. To use <strong>AP Deja-Vu</strong> with your <a href="https://github.com/newsdev/elex-loader">election loader</a> instance, export this environment variable to point your loader away from the AP and toward Deja-Vu.</p>
        <p>
            <pre>

                <code>export AP_API_BASE_URL="http://{{ hostname }}.newsdev.net/elections/{{ year }}/ap-deja-vu/"</code>
            </pre>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Available election tests</h1>
        <table class="table">
        <tr>
            <th>Election date</th>
            <th>Position</th>
            <th>Playback speed</th>
            <th>Error mode</th>
        </tr>
        {% for e in elections %}
        <tr id="election-{{ e.election_date }}">
            <td class="col-md-2"><a href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">{{ e.title }}</a></td>
            <td class="position">
                <strong>{{ e.position }}</strong>&nbsp;/&nbsp;{{ e.total_positions }}&nbsp;
                <a class="ajax" id="position-zero" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">&#x21BA;</a>
            </td>
            <td class="playback">
                <strong>{{ e.playback }}</strong>&nbsp;
                <a class="ajax" id="playback-up" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">&uarr;</a>&nbsp;
                <a class="ajax" id="playback-down" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">&darr;</a>&nbsp;
                <a class="ajax" id="playback-one" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">&#x21BA;</a>
            </td>
            <td class="errormode">
                <a class="{% if e.errormode %}{% else %}mode-off {% endif %}ajax-toggle" id="errormode" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">500</a>&nbsp;&nbsp;
                <a class="{% if e.ratelimited %}{% else %}mode-off {% endif %}ajax-toggle" id="ratelimited" href="/elections/2017/ap-deja-vu/elections/{{ e.election_date }}?national={{ e.national|lower }}&level=ru">403</a>
            </td>
        </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){
        var ajax_url = function(racedate, action, param_name, direction, url){
            var params = {}
            params[param_name] = parseInt($($('#' + racedate + ' .' + action + ' strong')[0]).text());
            if (direction === "up") {
                params[param_name] = params[param_name] + 1;
            };
            if (direction === "down") {
                params[param_name] = params[param_name] - 1;
            };
            if (direction == "zero") {
                params[param_name] = 0;
            };
            if (direction == "one") {
                params[param_name] = 1;
            };
            $.ajax({
                type: "GET",
                url: url,
                data: params,
                success: function(response){
                    $($('#' + racedate + ' .' + action + ' strong')[0]).text(params[param_name]);
                    $($('#' + racedate + ' .' + action + ' strong')[1]).text(params[param_name]);
                }
            });

        };

        var ajax_click_handler = function(el){
            el.preventDefault();
            $el = $(this);
            var RACEDATE = $el.parent('td').parent('tr').attr('id');
            var ACTION = $el.parent('td').attr('class');
            ajax_url(
                RACEDATE,
                ACTION,
                $el.attr('id').split('-')[0],
                $el.attr('id').split('-')[1],
                $el.attr('href')
            );
        };

        var ajax_toggle_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            params = {}
            params[$el.attr('id')] = false
            if ($el.hasClass('mode-off')) {
                params[$el.attr('id')] = true
            }
            $.ajax({
                type: "GET",
                url: $el.attr('href'),
                data: params,
                success: function(response){
                    console.log(params, 'success');
                    $el.toggleClass('mode-off');
                }
            })
        }

        $('a.ajax').on('click', ajax_click_handler);
        $('a.ajax-toggle').on('click', ajax_toggle_handler);
    });
</script>
{% endblock %}
